<!DOCTYPE html>
<html lang="en">
<head>
  <title>Buy Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
        <div class="container wrapper">  
                <div class="row cart-body">
                    <form ng-app='serviceModule' ng-controller='serviceCtrl' onsubmit="return validateForm()" class="form-horizontal" method="GET" >
                        <div class="row">
                            <p>Flight No : {{flightNumber}} Airline : {{airline}} From : {{fromAirport}} To: {{toAirport}}</p>
                        </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Payment Information <div class="pull-right"></div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-9 col-xs-9">
                                        <div class="col-xs-12">Flight Cost:</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>฿</span>{{flightCost}}</h6>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-xs-9">
                                        <div class="col-xs-12">Service Cost:</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>฿</span><span id="servicecost">0</span></h6>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-xs-9">
                                        <div class="col-xs-12">Insurance Cost:</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>฿</span><span id="insurancecost">0</span></h6>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-xs-9">
                                        <div class="col-xs-12">Tax :</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>฿</span>{{tax}}</h6>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Total</strong>
                                        <div class="pull-right"><span>฿</span><span>{{total}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="button-confirm">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-submit-fix" ng-click="confirm()">Confirm</button>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">Passenger Information</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Please fill out all information.</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Country:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="country" name="country" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <strong>First Name:</strong>
                                        <input type="text" id="name" name="first_name" class="form-control" value="" />
                                    </div>
                                    <div class="span1"></div>
                                    <div class="col-md-6 col-xs-12">
                                        <strong>Last Name:</strong>
                                        <input type="text" id="lastname" name="last_name" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Birth Date:</strong></div>
                                    <div class="col-md-12">
                                        <input type="date" id="birthdate" name="passport" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Passport No:</strong></div>
                                    <div class="col-md-12">
                                        <input type="number" id="passport" name="city" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Passport Expire Date:</strong></div>
                                    <div class="col-md-12">
                                        <input type="date" id="passportexpire" name="state" class="form-control" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" ng-click="getService()" class="btn btn-primary btn-submit-fix" style="width: 200px;">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info" id="service-insurance">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Insurance and Service</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Insurance:</strong></div>
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="insurance1" >
                                            <label class="form-check-label" for="materialChecked2">Travel Insurance ฿1000</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="insurance2">
                                            <label class="form-check-label" for="materialChecked2">Baggage Insurance ฿200</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Service:</strong></div>
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="service1">
                                            <label class="form-check-label" for="materialChecked2">Flight Delay Notification ฿100</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="service2">
                                            <label class="form-check-label" for="materialChecked2">SMS Notify Before Travel ฿20</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" ng-click="calculatePayment()" class="btn btn-primary btn-submit-fix">Okay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    </form>
                </div>
                <div class="row cart-footer">
            
                </div>
        </div>
</body>
</html>
<script>
    $("#service-insurance").hide();
    $('#button-confirm').hide();
    var flightModule = angular.module('serviceModule',[]);
    flightModule.service('myService',function(){});
    flightModule.controller('serviceCtrl',function($scope,$window,$http,myService){
        var service = 0 , insurance = 0 // ค่าประกันภัยกับเซอร์วิสไว้ส่งไปคำนวน
        var insurance1 = 0 ,insurance2 = 0 
        var service1 = 0 , service2 = 0

        //ส่ง noFlight ไปเรียก data 
        //ปล.กุส่ง JSON ผ่านพารามิเตอมาไม่ได้ ขกหาวิธี เรียก node ไปก่อน
        var flightDtail = JSON.parse(sessionStorage.getItem("detail")); 
        
        $scope.flightNumber = flightDtail.noFlight; // data.noFlight
        $scope.fromAirport = flightDtail.fromAirport;// data.fromAirport
        $scope.toAirport = flightDtail.toAirport; //data.toAirport
        $scope.airline = flightDtail.airline; // data.airline
        $scope.flightCost = flightDtail.price; // data.price ไว้คำนวนด้วย
        $scope.tax = 0 //response form JSON
        $scope.total = 0 //response form JSON

        //get flight detail from NO
        var flightDetail = $http({
            method: "POST",
            url: "http://localhost:3000/detail",
            data: {
                noFlight:$scope.flightNumber,
            },
            headers: {
                'Content-Type': 'application/json',
                "Accept": "application/json, text/plain"
            }
        }).then((result) => {
            $scope.flightCost = result.data.price;

        }).catch((err) => {
            console.log(err)
        });
        

        $scope.getService = function(){
            if(validateFrom()){
                $("#service-insurance").show();
            } else{
                $window.alert('โปรดกรอข้อมูลให้ครบถ้วน')
            }
        };
        $scope.calculatePayment = function(){
            //Calculate totalAmount
            var totalAmount = $http({
                method: "POST",
                url: "http://localhost:3000/calculate",
                data: {
                    price: $scope.flightCost,
                    service: service,
                    insurance: insurance
                },
                headers: {
                    'Content-Type': 'application/json',
                    "Accept": "application/json, text/plain"
                }
            }).then((result) => {
                $scope.tax = result.data.tax;
                $scope.total = result.data.total;
            }).catch((err) => {
                console.error(err);
            });
            //ส่ง flightCost service insurance ไปคำนวนที่ node 
            //คืนค่า tax กับ total กลับมา
            $('#button-confirm').show();
        }
        $scope.confirm = function(){
            var information = {
                flight : {
                    flightNo : $scope.flightNumber,
                    airline : $scope.airline,
                    fromAirport : $scope.fromAirport,
                    toAirport : $scope.toAirport,
                },
                passenger : {
                    name : $("#name").val(),
                    lastname : $("#lastname").val(),
                    birthdate : $("#birthdate").val(),
                    country: $("#country").val(),
                    passport: $("#passport").val(),
                    passportExpire : $("#passportexpire").val()
                },
                payment : {
                    flightCost : "$scope.price",
                    service : service,
                    insurance : insurance,
                    tax : $scope.tax,
                    total : $scope.total
                }
            }
           alert(JSON.stringify(information,null, 2)) 
           window.document.location = './DisplayFlight.html';
        }
        $(document).ready(function(){
        $('#insurance1').click(function(){
            if($(this).prop("checked") == true){
                insurance1 = 1000
                insurance = insurance1+insurance2
                $("#insurancecost").text(""+insurance);
            }
            else if($(this).prop("checked") == false){
                insurance1 = 0
                insurance = insurance1+insurance2
                $("#insurancecost").text(""+insurance);
            }
        });
        $('#insurance2').click(function(){
            if($(this).prop("checked") == true){
                insurance2 = 200
                insurance = insurance1+insurance2
                $("#insurancecost").text(""+insurance);
            }
            else if($(this).prop("checked") == false){
                insurance2 = 0
                insurance = insurance1+insurance2
                $("#insurancecost").text(""+insurance);
            }
        });
        $('#service1').click(function(){
            if($(this).prop("checked") == true){
                service1 = 100
                service = service1+service2
                $("#servicecost").text(""+service);
            }
            else if($(this).prop("checked") == false){
                service1 = 0
                service = service1+service2
                $("#servicecost").text(""+service);
            }
        });
        $('#service2').click(function(){
            if($(this).prop("checked") == true){
                service2 = 20
                service = service1+service2
                $("#servicecost").text(""+service);
            }
            else if($(this).prop("checked") == false){
                service2 = 0
                service = service1+service2
                $("#servicecost").text(""+service);
            }
        });
    });
    });
    function validateFrom(){
        var name = $("#name").val()
        var lastame = $("#lastame").val()
        var passport = $("#passport").val()
        var country = $("#country").val()
        var birthdate = $("#birthdate").val()
        var passportexpire = $("#passportexpire").val()
        if(name === ""||lastame === ""||passport === ""||country === ""||birthdate === ""||passportexpire === ""){
            return false
        } else{
            return true
        }
    }
</script>