<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to Flight Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="Data.js"></script>
</head>
<body>
    <h1>Flight</h1>
    <br><br>
    <div class="container-fluid">
        <form ng-app='flightModule' ng-controller='searchCtrl' method="GET" id="searchflight" onsubmit="return validateForm()" >
            <div class="row">
                <div class="col-md-10 order-md-1 order-sm-2 order-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Flying from</p>
                            <input class="form-control" type="text" id="flyingFrom" placeholder="กรอกชื่อเมืองต้นทาง">
                        </div>
                        <div class="col-sm-6">
                            <p>Flying to</p>
                            <input class="form-control" type="text" id="flyingTo" placeholder="กรอกชื่อเมืองปลายทาง">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Departing</p>
                            <select class="form-control" id="departing"></select>
                        </div>
                        <div class="col-sm-6">
                            <p>Returning</p>
                            <select class="form-control" id="returning"></select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Adults</p>
                            <select class="form-control" id="adults" style="width: 30%">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <p>Cabin</p>
                            <select class="form-control" id="cabin" style="width: 70%">
                                <option value="eco">ECONOMY_CLASS</option>
                                <option value="business">BUSINESS_CLASS</option>
                                <option value="first">FIRST_CLASS</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button type="button" id="search" class="btn-primary btn-lg active" ng-click="nextPage()"
                            style="background-color:pink;  color: black; ">Search</button>
                    </div>
                </div>
                <div class="col-md-2 order-md-2 order-sm-1 order-1">
                    <div class="radio">
                        <label><input type="radio" name="optradio" checked value="One-Way"> One Way</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Round-Trip"> Round Trip</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
